<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985454876855-ss5t97j6rao4a31fm6nshrtdabkcotan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985454876855-ss5t97j6rao4a31fm6nshrtdabkcotan</string>
	<key>API_KEY</key>
	<string>AIzaSyCsLE-E16i_ztLaFDPW0wpcRTiMZz_3ZZM</string>
	<key>GCM_SENDER_ID</key>
	<string>985454876855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testingWithRestApi</string>
	<key>PROJECT_ID</key>
	<string>flutter-sns-tbs</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sns-tbs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985454876855:ios:a3c29d0d51cfc011995532</string>
</dict>
</plist>